html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $mainFontColor;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  letter-spacing: $letterSpacing;
  background: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $mainFontColor;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

input,
button {
  font-family: $mainFont;
  font-weight: $mainFontWeight;
}

input, textarea {
  color: $mainFontColor;
  font-weight: $mainFontWeight;
}

.container {
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 16px;
}

.container_mod {

  @media (min-width: 1600px) {
    max-width: 1502px;
    margin: 0 auto;
  }
}



.second-title {
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;


  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 60px;
  }
}