// // Font
$WorkSans: 'Work Sans', sans-serif;

$mainFont : $WorkSans;
// $secondaryFont : $ffMontserrat;

// // Size
$mainFontColor : #314584;
$mainFontSize : 18px;
$mainFontWeight : 600;
$mainLineHeight : 1.2;
$letterSpacing :  0.1px;

// // Main color
$textColor: #6e757a;
$primaryColor : #ff3946;
// $thirdColor: #596067;
$lightColor: #FFFFFF;
$darkColor: #202523;

// $darkColor :#000000;
// $purple-color :#6E41E2;
// $active-color : #FF7728;

  